$white: rgb(255, 254, 255);

$very-light-gray: rgb(221, 221, 221);

$shadow-black: rgba(51, 51, 51, .35);

$light-gray: rgb(161, 161, 161);
$medium-gray: rgb(91, 100, 107);

$medium-blue-gray: rgb(76, 104, 128);
$dark-blue-gray: rgb(62, 82, 94);

$orange: rgb(252, 138, 85);

$medium-red: rgb(220, 130, 111);
$dark-red: rgb(223, 101, 101);
