<div class="container">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <app-message *ngIf="displayMessage" [msg]="msgObj"></app-message>
  <form (submit)="onSelectCity(form)" class="city-selection" #form="ngForm">
    <div class="input-field">
      <input
        type="text"
        name="city"
        placeholder="City"
        #cityInput="ngModel"
        ngModel
        required
        [ngClass]="{ invalid: cityInputField }">
      <button type="submit">
        <i class="material-icons">search</i>
      </button>
    </div>
    <p class="choice-description">or</p>
    <p class="current-position">use my <span class="link"><a (click)="onGetCurrentPosition()">current position</a></span></p>
  </form>
</div>
