.center-console {
  padding: 3vw;
  width: 75vw;
  height: 75vh;
  background: rgb(255,254,255);
  box-shadow: 0 0 10px 2px rgba(51, 51, 51, .35);

  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  box-sizing: border-box;
}
