@import "../sass/variables.scss";

.center-console {
  padding: 2.3vw;
  width: 75vw;
  height: 75vh;
  background: $white;
  box-shadow: 0 0 10px 2px $shadow-black;
  overflow: auto;

  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  box-sizing: border-box;
}
