@import "../sass/variables.scss";

.center-console {
  padding: 2.3vw;
  width: 80vw;
  background: $white;
  box-shadow: 0 0 10px 2px $shadow-black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

@media only screen and (orientation: portrait) {
  .center-console {

  }
}
