<div class="temperature-list">
  <div class="day">
    <p class="name">Tuesday</p>
    <i class="wi wi-day-sunny"></i>
    <p class="temp">4&#176;C</p>
  </div>
  <div class="day">
    <p class="name">Tuesday</p>
    <i class="wi wi-day-sunny"></i>
    <p class="temp">4&#176;C</p>
  </div>
  <div class="day">
    <p class="name">Tuesday</p>
    <i class="wi wi-day-sunny"></i>
    <p class="temp">4&#176;C</p>
  </div>
  <div class="day">
    <p class="name">Tuesday</p>
    <i class="wi wi-day-sunny"></i>
    <p class="temp">4&#176;C</p>
  </div>
  <div class="day">
    <p class="name">Tuesday</p>
    <i class="wi wi-day-sunny"></i>
    <p class="temp">4&#176;C</p>
  </div>
  <div class="day">
    <p class="name">N/A</p>
    <i class="wi wi-day-sunny"></i>
    <p class="temp">N/A</p>
  </div>
  <div class="day">
    <p class="name">N/A</p>
    <i class="wi wi-day-sunny"></i>
    <p class="temp">N/A</p>
  </div>
</div>
