.temperature-list {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
}

.day {
  text-align: center;
  & p {
    font-weight: 300;
    &.name {
      font-size: .8rem;
    }
  }
  & i {
    font-size: 2.5rem;
  }
}
