/* You can add global styles to this file, and also import other style files */
@import "sass/variables.scss";

:root {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom right, $dark-red, $orange);
}

body {
  margin: 0;
}
