<p class="date">{{ weatherInfo.date }}</p>
<p class="weather-description">{{ weatherInfo.description }}</p>
<div class="weather-info">
  <div class="temp">{{ weatherInfo.temp }}&#176;C</div>
  <div class="icon">
    <i class="wi" [ngClass]="weatherInfo.icon"></i>
  </div>
  <div class="day-temps">
    <table>
      <tr>
        <td>Morning</td>
        <td>{{ weatherInfo.fullDayTemps.morning }}</td>
        <td>&#176;C</td>
      </tr>
      <tr>
        <td>Day</td>
        <td>{{ weatherInfo.fullDayTemps.day }}</td>
        <td>&#176;C</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>{{ weatherInfo.fullDayTemps.evening }}</td>
        <td>&#176;C</td>
      </tr>
      <tr>
        <td>Night</td>
        <td>{{ weatherInfo.fullDayTemps.night }}</td>
        <td>&#176;C</td>
      </tr>
    </table>
  </div>
</div>
