<p class="date">Tuesday, December 6th, 2016</p>
<p class="weather-description">Light snow</p>
<div class="weather-info">
  <div class="temp">4&#176;C</div>
  <div class="icon">
    <i class="wi wi-day-sunny"></i>
  </div>
  <div class="day-temps">
    <table>
      <tr>
        <td>Morning</td>
        <td>-5&#176;C</td>
      </tr>
      <tr>
        <td>Day</td>
        <td>-4&#176;C</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>-0&#176;C</td>
      </tr>
      <tr>
        <td>Night</td>
        <td>-2&#176;C</td>
      </tr>
    </table>
  </div>
</div>
